body{
  scrollbar-base-color: #000;
  scrollbar-face-color: #000;
  scrollbar-3dlight-color: #000;
  scrollbar-highlight-color: #000;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: #000;
  scrollbar-dark-shadow-color: #000;
}

.container_menu::-webkit-scrollbar {
    width: .7em;
}

 
.container_menu::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.container_menu {
	border: 1px solid lightgray;
	background: white;
	color: black;
    height: 100%;
	position: fixed;
	left: 0px;
	width: 12%;
	overflow-y: scroll;
}

.container_content {
	color: black;
    height: 100%;
	margin-left: 12%;
	width: 88%;
	padding-top: 15px;
}

.member_avatar img{
	 position: inherit;
}
.member_avatar img{
	/*width: 75%;*/
	width: 200px;
	height: 200px;
	margin-top: 10px;
}

.member_avatar p:first-child{
	margin-top: 15px;
	font-size: 8pt;
	color: gray;
	font-weight: bold;
	text-align: left;
	margin-left: 5px;
}
.member_avatar>div{
	padding: 0;
	margin: 0;
}
.member_avatar>div>div{
	padding: 0;
	margin: 0;
}

.member_avatar .btn-group>.dropdown-toggle:first-child {
    font-size: 6pt;
	padding: 1px;
	line-height: 5.5em;
	background: none;
	border: none;
	color: blue;
	outline: none;
	
}

.dropdown-item {
    text-align: center;
}


.main_buttons{
	margin: 15px auto;
}

.main_buttons>div {
	margin: 0;
	padding: 0;
}

.main_buttons button{
    width: 95%;
    font-weight: 300;
    font-size: 7pt;
    margin-left: 3%;
}

.btn-light{
    transition: .5s;
}

.btn-light:hover{
    transition: .3s;
}

.main_menu ul{
	padding: 0;
	width: 100%;
	text-align: center;
}

.main_menu ul li{
    width: 95%;
    margin: 5px auto;
}
.main_menu ul li button{
    width: 100%;
	font-size: 10pt;
}




@media only screen and (max-width: 1200px) {
	.main_buttons .btn {
		padding: 5px;
	}
	.main_menu ul li button {
		font-size: 8pt;
	}
}

@media only screen and (max-width: 992px) {
	.main_buttons button {
		font-size: 6pt;
	}
	.main_menu .btn-light {
		font-size: 7pt;
		padding: 7px 5px;
	}
	.container_menu {
		width: 20%;
	}
	.container_content {
		width: 80%;
		margin-left: 20%;
	}
}

@media only screen and (max-width: 767px) {
	.main_buttons .btn {
		margin-top: 5px;
	}
}

@media only screen and (max-width: 480px) {
		.main_buttons button {
		font-size: 6pt;
	}
	.main_menu .btn-light {
		font-size: 7pt;
		padding: 7px 5px;
	}
	.container_menu {
		width: 40%;
	}
	.container_content {
		width: 60%;
		margin-left: 40%;
	}
	.member_avatar p:first-child {
		font-size: 9pt;
		text-align: center;
	}
	
	.member_avatar .btn-group>.dropdown-toggle:first-child {
		font-size: 7pt;
		line-height: 1.5em;
	}
	
	.dropdown-menu.show{
		left: 50px;
	}
}

