body{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #009bff;
	font-weight: normal;
	text-align: center;
	margin-left:0;
	margin-right:0;
	padding-right: 0px;
	padding-left: 0px;
}

h3 {
	color:#942011;
}
img{
	max-width: 100%;
	height: auto;
	opacity:0.5;
}

header{
	margin: 20px auto;
	padding: 0;
	width: 100%;
	
}





.content .container{

	padding-right: 0px;
	padding-left: 0px;
	display: inline-block;

}

footer{
	padding:50px;
	background: white;
	color: black;
}



.menu{
	background: white;
	border: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .19);
	padding: 15px 0;
}

.navbar-brand{
	padding-right: 50px;
	text-transform: uppercase;
	font-size: 16pt;
	
}

.navbar-default .navbar-nav > li > a{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	color:#942011;
	border-bottom: 1px solid white; 
}

.navbar-default .navbar-nav > li.active-link > a{
	border-bottom: 1px solid #009bff;
	color: #f76d50;
}

.navbar-default .navbar-nav > li > a:hover{
	border-bottom: 1px solid #f76d50;
	color: #f76d50;
	
}


.row{
	font-size: 14px;
	margin-bottom:100px;
	color: #F0F8FF;
}

.row .col-md-3 > b{
	font-size: 22px;
}

.content .splash .card > a{
	background: #942011;
    border: 2px solid #942011;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.6s ease 0s;
	text-transform: uppercase;
	padding: 10px 50px;
}



.content .splash .card > a:hover
{
  background-color:#f76d50;
  color:white;
  text-decoration:none;
  border: 2px solid #f76d50;
}

.content .splash_1 .card > a{
	background: none;
    border: 1px solid #fdb430;
    border-radius: 20px;
    color: #fdb430;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.6s ease 0s;
	text-transform: uppercase;
	padding: 10px 20px;
}



.content .splash_1 .card > a:hover
{
  background-color:#fdb430;
  color:white;
  text-decoration:none;
  border: 1px solid #fdb430;
}

.splash .slogan{
	margin-bottom:0px;
	color: white;
	padding-bottom: 100px;
	text-shadow: 1px 1px 0 black, -1px -1px 0 black;
}

.splash .slogan > p{
	font-size: 24px;
	color:white;
	text-shadow: 1px 1px 0 black, -1px -1px 0 black;
}


.splash_1 .slogan{
	margin-bottom:0px;
	color: black;
	padding-bottom: 100px;
	
}

.splash_1 .slogan > p{
	font-size: 24px;
	color:black;
	
}
/*
.backimage_one{
	background-image:url(images/zastavka.jpg);
	background-repeat:no-repeat;
	background-position: center ;
	background-attachment: fixed;
	background-clip: padding-box;
	padding-top:80px;
	
}
*/

/* Отступ сверху для содержимого body (высота navbar = 50px)*/
body
{
padding-top: auto;
}
/* Заставка */
.splash { 
/* Отступ для содержимого, помещенного в splash */
padding:9em 0 2em;
/* Масштабируем картинку с сохранением пропорций */
/* Запрещаем фоновому изображению прокручиваться, т.е. делаем его неподвижным */
	background-image:url(images/zastavka.jpg);
	background-repeat:no-repeat;
	background-position: top ;
	background-attachment: fixed;
	background-clip: padding-box;
/* Цвет текста */
/* Выравниваем текста внутри splash по центру */
}

.splash_1 { 
padding:9em 0 2em;
background-color: white;
}










@media only screen and (max-width: 1200px) {
	.navbar-brand{
		padding-right: 10px;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 10px;
		text-transform: uppercase;
		font-weight: bold;
	}
}

@media only screen and (max-width: 992px) {
	.navbar-brand{
		display:none;
	}
	.slogan{
	padding-bottom: 50px;
	}
	
	.row {
	margin-bottom:0;
	}
	
	.navbar-nav {
		margin-left: 0px;
	}
	.navbar-default .navbar-nav > li > a{
		font-size: 8px;
		text-transform: uppercase;
		font-weight: bold;	
	}	
		.row .card{
		margin-bottom:50px;
		margin-top: 50px;
	}
	.row .col-md-3 {
		margin: 30px auto;
	}
}

@media only screen and (max-width: 767px) {
	.splash { 
	/* Отступ для содержимого, помещенного в splash */ 
	padding:9em 0 2em; 
	/* Масштабируем картинку с сохранением пропорций */ 
	/* Запрещаем фоновому изображению прокручиваться, т.е. делаем его неподвижным */ 
	background-image:url(images/zastavka.jpg); 
	background-position: center; 
	background-repeat:no-repeat; 
	background-attachment: local; 
	background-size: 3072px 1728px; 
	}
	header .navbar-brand{
		display:block;
	}
	header .navbar-default .navbar-nav > li.active-link > a{
		border-bottom: 0;
		background:#009bff;
		color: white;
	}
	header .navbar-default .navbar-nav > li > a:hover{
		border-bottom: 0;
		background:#009bff;
		color: white;
	}
	
	.content .navbar-brand{
		display:block;
	}
	.content .navbar-default .navbar-nav > li.active-link > a{
		border-bottom: 0;
		background:#009bff;
		color: white;
	}
	.content .navbar-default .navbar-nav > li > a:hover{
		border-bottom: 0;
		background:#009bff;
		color: white;
	}
	
	.pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
		display:none;
	}
	.pic1_text{
		text-align: center;
	}
}

@media only screen and (max-width: 480px) {
	header, .slogan{
		margin-bottom: 30px;
	}
}





	